html {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Arial', cursive;
    font-size: 13pt;
    padding: 10px;
	margin: 0;
}
h1 {
    font-size: 15pt;
	color: aqua;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0 0 10px 0;
}
.Entrance {
    text-align: right;
    margin-top: 0px;
}
.submit {
    background-color: aqua;
    padding: 12px 45px;
	border-radius: 5px;
	cursor: pointer;
	color: black;
	border: outset;
	outline: 5px solid gold;
	margin: 10;
	font-weight: normal;
}
h2 {
    text-align: center;
    color: aqua;
    border: 4px dashed #02a3fa;
	padding: 10px;
}
p {
    margin: 0;
    padding: 0;
}
progress {
    width: 70%;
	height: 20px;
	color: aqua;
	background: greenyellow;
}
h3 {
    text-align: center;
    color: aqua;
}
h4 {
    text-align: center;
    color: aqua;
}
form {
    text-align: center;
	margin-top: 0;
}
input {
    background-color: aqua;
	padding: 12px 45px;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	border: solid;
	outline: none;
	margin: 0;
	font-weight: bold;
}
textarea {
	height: 100px;
}
.copyright {
	font-size: 8pt;
	text-align: right;
	padding-bottom: 10px
	color: grey;
}
